
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
